/* Custom CSS */
a {
	color: gray;
}

body {
	background-color: black;
}


div.navWrapper {
	background-color: white;
	position: absolute;
	margin-left:30px;
	width: 200px;
	height: 90%;
	display: block;
	
}

div.botNavWrapper {
	background-color: gray;
	position: absolute;
	bottom: 5px;
	width: 100%;
	height: 50px;
	display: block;
}

nav.MainNav {
	
	width: inherit;
	height: inherit;
	
}

nav.BotNav {
	
	width: inherit;
	height: inherit;
}

div.brandLink {

	display: inline-block;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	
}

div.emailLink {
	position:absolute;
	width: 100%;
	text-align: center;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
	
}
div.twitterLink {
	position:absolute;
	margin-top:20px;
	margin-right:5px;
	right:20px;
}
div.githubLink {
	position:absolute;
	margin-right:5px;
	margin-top:20px;
	left:20px;
	
}

a.mobile-platform {
		
	font-size: 24px;
		
}

a.bottomText {

	font-Size: 18px;
	
}

img.mobile-hamburgerMenu {
	
	margin-top: 10px;
	margin-right: 10px;
	height: 30px;
	width: auto;
	float: right;
	
}


@media (max-width:640px) {
	
	div.brandLink {

		margin-top: 15px;
	
	}
	
	a.mobile-platform {
		
		float: left;
		font-size: 14px;
		
	}
	
	
	img.mobile-hamburgerMenu {
		
		margin-top: 10px;
		margin-right: 10px;
		height: 30px;
		width: auto;
		float: right;
		
	}
	
}


